[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "ark"]
	path = ark
	url = https://github.com/opscode-cookbooks/ark
[submodule "bluepill"]
	path = bluepill
	url = https://github.com/opscode-cookbooks/bluepill
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java
[submodule "monit"]
	path = monit
	url = https://github.com/apsoto/monit
[submodule "nginx"]
	path = nginx
	url = https://github.com/opscode-cookbooks/nginx
[submodule "ohai"]
	path = ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "python"]
	path = python
	url = https://github.com/poise/python
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel
[submodule "logstash"]
	path = logstash
	url = https://github.com/foxycoder/chef-logstash
